@import url('../../tools/normalize.min.css');
@import url('../../public/fonts/fonts.css');
@import url('../../tools/magnific-popup.css');
@import url('../../tools/owl.carousel.min.css');
@import url('../../tools/telinput/intlTelInput.min.css');
@import './defaults';
@import './homePage';
@import './projectsPage';
@import './footer';
@import './popup';

#customCursor {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url('../../public/images/cursor.png');
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	width: 400px;
	height: 400px;
	pointer-events: none;
	z-index: 50;
	transition-property: left, top;
	transition-duration: 1.2s, 1.2s;
	transition-timing-function: cubic-bezier(0.1, 0.69, 0.36, 0.98);
	@media screen and (max-width: 1180px) {
		display: none;
	}
}
